.container {
    display: flex;
    flex-direction: column;
    background-color: #ccd6d8;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-style: normal; 
    font-weight: normal; 
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-style: normal; 
    font-weight: normal; 
    margin-top: 10px;
}

p {
    width: 65%;
    text-indent: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.current-tab {
    background-color: #becc98;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bibliography {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.heading {
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
}

.images {
    width: 75%;
    border-radius: 40px;
}
