<div class="container">
    <div class="content">
        <h1>Мифология и культура</h1>
        <img class="images" src="../../../../../assets/images/ОРуны.jpg" alt="Немного о Скандинавии"/>
        <h3>За что мы любим Скандинавию?</h3>
        <p>
            Скандинаво - германская мифология - это, прежде всего мифология викингов, воинов, военных вождей, конунгов. 
            На протяжении веков она создавалась именно ими и носила, в основном, характер воинственный. 
            Военные походы были одним из основных источников пополнения богатства и процветания страны. 
            Климатические условия не позволяли скандинавам в полной мере заниматься земледелием и скотоводством. 
            Поэтому боги у них делились, в основном, на две большие группы: покровители войны, сражений и покровители плодородия.
        </p>
        <p>
            Слово « викинг» восходит к древненорвежскому слову « викингр ». Относительно его происхождения существует ряд гипотез,
            наиболее убедительная из которых возводит его к слову « вик » - фиорд, бухта. Слово « викинг» (букв. Человек из фиорда)
            применялось для обозначения разбойников, которые действовали в прибрежных водах, прячась в укромных бухтах и заливах. 
            Французы называли их норманнами (т. е. людьми с севера), англичане всех скандинавов без разбора называли датчанами,
            а славяне, греки, хазары и арабы именовали викингов варягами или Русью.
        </p>
            <img class="images" src="../../../../../assets/images/ОВикинг.jpg" alt="Немного о Викингах"/>
        <p>
            По их поверьям, вселенная делилась на девять миров. 
            Центром всех миров был ясень Иггдрасиль, и не было равного 
            ему по красоте и мощи. Проросло оно из нижних миров, ствол 
            поддерживает Миддгард, где живут люди, а крона - выше небес, 
            и если нужно кому путешествовать между мирами, нет лучшей 
            дороги. Один корень древа у богов на небе, другой у великанов, 
            третий - в подземном мире.
        </p>
        <p>
            Под тем корнем, что в стране великанов, бьет ключ, и всякий, 
            кто попьет из него, обретает знание и мудрость, ведь род 
            исполинов - древнейший. В подземном источнике, ядовитом, 
            живет змей Нидхёг, который грызет ствол древа, мечтая 
            погубить богов и людей. Священный источник находится и во 
            дворце богов - Асгарде. Такова, говорят, его сила, что все, 
            попавшее в его воду, становится белым, а все белое и светлое 
            считалось прекрасным. Хоть это дерево ясень, на нем цветут 
            всевозможные цветы, зреют плоды, а в ветвях его живут звери и 
            птицы, которые сходят на землю, чтобы родиться.
        </p>
        <img class="images" src="../../../../../assets/images/ОИгдрасиль.jpg" alt="Иггдрасиль"/>
        <p>
            Как уже упоминалось выше, Иггдрасиль соединял небо, 
            землю и подземный мир. На верхушке дерева находится дворец 
            богов Асгард, воздвигнутый одним из великанов. Там же, на 
            верху, находится Валгалла – чертог мертвых воинов. В нем 540 
            просторных залов, в которых живут храбрые воины, павшие на 
            поле боя. Здесь они едят мясо огромного вепря Сэримнира, 
            которого каждый день режут и жарят и который каждое утро 
            снова оживает, и пьют крепкое, как старый мед, молоко козы 
            Гейдрун, которая пасется у вершины ясеня. Здесь же, в 
            промежутках между пирами, воины бьются, чтобы не потерять 
            форму.
        </p>
        <img class="images" src="../../../../../assets/images/ОВальхалла.jpg" alt="Асгард"/>
        <p>
            Нифльхейм – подземный мир мёртвых, правила в нем великанша 
            Хёль, свергнутая туда Одином вместе со своим братом, волком 
            Ферниром. В эту страну отправлялись души тех, кто умер от 
            старости или болезни. Праведные люди попадали в отдельные 
            чертоги, созданные из красного золота. На мёртвых берегах 
            стоит огромный и ужасный дворец, он весь свит из змей, как 
            плетень; змеиные головы смотрят внутрь и брызжут ядом, и 
            оттого там текут ядовитые реки, которые переходят вброд 
            клятвопреступники, убийцы, воры. Наиболее провинившихся 
            ожидает наихудшая кара: они попадают в кипящий котел, где 
            их тела гложет змей Нидхёгг.
        </p>
        <img class="images" src="../../../../../assets/images/ОНифльхейм.jpg" alt="Нифльхейм"/>
        <p>
            Помимо страха попасть в Нифльхейм, стоило боятся встретится и с другими, не менее опасными
            существами:
        </p>
        <ul>                                                         
            <li>Фенрир — Самый огромный и сильный из волков.</li>
            <li>Ёрмунганд — гигантский мировой змей.</li>                          
            <li>Хель — богиня смерти, властительница нижнего мира.</li>
            <li>Гарм — большой пес охраняющий Нифльхейм — царство мертвых.</li> 
            <li>Нидхёгг — дракон который живет в корнях мирового дерева — Иггдрасиль.</li> 
            <li>Фафнир — дракон, охраняющий золотые сокровища цвергов — подземных карликов.</li> 
        </ul>
        <p>
            До начала времени существовало две области: Нифльхейм (Тёмная страна) 
            и Муспельхем (Огненная страна). Между ними находилась мировая бездна 
            Гиннунгагап. Нифльхейм была страна вечного льда и жутких морозов. 
            И вот однажды в центре страны начал бить родник Гергельмир (Кипящий 
            котел). Из него брало начало множество рек. Однажды воды реки Элиагар 
            так удалились от своего начала, что их ядовитая вода застыла и стала льдом. 
            Лёд окреп, вследствие чего яд вышел наружу росой и превратился в иней. 
            Этот иней падал в Мировую бездну и со временем заполнил её всю.
            Север мировой бездны был весь заполнен массами льда и инея, немного южнее 
            царили дожди и ветры, а на самом юге была благодать, так как туда залетали 
            искры огненной страны Муспельхейм.
        </p>
        <p>
            Иней стал таять и стекать вниз, капли ожили от теплотворной 
            силы и приняли образ великана, который звался Имир. Помимо 
            него из инея появилась корова Аудумла, из вымени которой 
            текли четыре молочные реки, молоком из которых и питался 
            новорожденный Имир. Из камней, покрытых инеем, который 
            слизывала корова, возник отец всех богов – Бури. Бури породил 
            Бора, а тот – трех сыновей: Одина, Ве и Вили.
        </p>
        <img class="images" src="../../../../../assets/images/ОТриБога.jpg" alt="Один, Ве, Вили"/>
        <p>
            Братьям – богам не нравился мир, в котором они жили, и после 
            долгой борьбы они убили Имира, тело его стало землей в виде 
            плоского круга, расположенного посреди моря, созданного из 
            крови великана. Из черепа был сделан небесный свод, из костей 
            – горы, из волос – деревья, из зубов – камни, из мозга – облака. 
            Однажды на берегу моря боги нашли два дерева: ясень и ольху, - 
            и сделали из них сделали мужчину (Аск ) и женщину (Эмбла). 
            На этом этапе боги свергают в Нифльхейм своих противников: 
            Хёль, Фернира, змея Ёрмунганда и строят себе дворец Асгард, 
            а себя начинают называть Асами.
        </p>
        <img class="images" src="../../../../../assets/images/ОАсгард.jpg" alt="Асгард"/>
    </div>
    <div class="bibliography">
        <span class="heading">Ниже мы оставили для Вас список интересной литературы:</span>
        <ol>                                                         
            <li>Старшая Эдда. Древнеисландские песни о богах и героях. М. – Л., 1963.</li>
            <li>Тацит К. Анналы // Тацит К. Сочинения в двух томах. Т. 1. СПб., 1993.</li>                          
            <li>Гуревич А. Я. «Эдда» и сага. М., 1979.</li>
            <li>Всемирная история. М., 1979. Т. 2.</li> 
            <li>История первобытного общества. Эпоха классообразования. М., 1988.</li> 
            <li>Токарев А. С. Религия в истории народов мира. М., 1976.</li> 
        </ol>
    </div>
</div>
