<div class="container">
    <img class="images" src="../../../../../assets/images/ОРуны.jpg" alt="Добро пожаловать в мир Скандинавии!"/>
    <div class="table-wrap">
        <table [dataSource]="dataSource" mat-table matSort class="table table_sort">

            <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="family">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Семейство </th>
            <td mat-cell *matCellDef="let element"> {{element.family}} </td>
            </ng-container>

            <ng-container matColumnDef="info">
            <th class="info" mat-header-cell *matHeaderCellDef mat-sort-header> Краткое описание </th>
            <td mat-cell *matCellDef="let element"> {{element.info}} </td>
            </ng-container>

            <ng-container matColumnDef="element">
            <th class="element" mat-header-cell *matHeaderCellDef mat-sort-header> Стихия </th>
            <td mat-cell *matCellDef="let element"> {{element.element}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr [class.select]="activeRow === row" (click)="activeRow = row" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <img class="images" src="../../../../../assets/images/НайсВикинг.jpg" alt="Персонаж из игры"/>
</div>
