.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccd6d8;
}

p {
    width: 65%;
    text-indent: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.current-tab {
    background-color: #becc98;
}

.images {
    width: 75%;
    border-radius: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.table-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    max-height: 750px;
    overflow-y: auto;
    background-color: rgb(215, 219, 188);
}

.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center !important;
}

.mat-card-content {
    justify-content: center;
    display: flex;
}

th, td, tr {
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    .mat-header-cell {
        text-align: center;
    }
    .mat-cell:first-of-type {
        text-align: center;
        padding: 20px;
    }
    .mat-cell:last-of-type {
        text-align: center;
    }
}

.thead {
    font-size: 120%;
    text-align: center;
}

.info {
    padding-left: 29%;
}

.element {
    padding-left: 1%;
}

.select {
    background-color: cadetblue;
}
