@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: rgba(80, 107, 114, 0.5);
}

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal; 
    font-weight: normal; 
} 

.font {
    font-family: 'Amatic SC';
    font-style: normal; 
    font-weight: normal; 
}

.container {
    display: flex;
    background-color: rgb(205, 212, 212);
    height: 100vh;

    &__box-image {
        @include size(100%, 100%);
        background-size: cover;
        flex-grow: 1;
    }

    &__box-auth {
        @include size(45%, 100%);
        background-color: #637780;

        &__form {
            @include size(70%, 100%);
            @include form;

            &__wrapper {
                height: 30%;
                display: flex;
                justify-content: center;
            }
        }
    }

    &__box-pass {
        @include size(45%, 100%);
        background-color: #637780;

        &__form {
            @include size(70%, 25%);
            @include form;
            margin-left: 15%;
        }
    }

    &__title {
        display: flex;
        justify-content: center;
        padding-top: 7%;
        height: 30%;
    }
}

.extension_container {
    @include size(100%, 100%);
}

.display-none {
    display: none;
}

.link {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    @include size(80%, 0%);
    font-size: 120%;
    color: black;
}

.input {
    @include size(60%, 10%);
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 120%;
    &.ng-invalid.ng-touched {
        border: 1px solid red;
    }
    &.ng-valid.ng-touched {
        border: 2px solid green;
    }
}

.button {
    @include size(35%, 12%);
    border-radius: 6px;
    box-shadow: 4px 3px 3px #25353c;
    background-color:#041121;
    border: none;
    color: white;
    font-family: 'Alumni Sans', sans-serif;
    font-size: 120%;
}

.disabled {
    background-color: rgb(169, 173, 173);
}

.button:active {
    color: none;
    background-color: #041121d0 ;
    box-shadow: none;
}

.border-red {
    border: 1px solid red;
}
