<div class="container">
    <div class="container__box-image">
        <img class="extension_container" src="../../../assets/images/Login-Page.jpg" alt="Добро пожаловать в мир Скандинавии!"/>
    </div>
    <div *ngIf="hidden" class="container__box-auth">
        <h1 class="container__title">Welcome</h1>
        <div class="container__box-auth__form__wrapper" > 
            <form [formGroup]="formAuth" class="container__box-auth__form font">
                <input class="input" type="text" id="login" placeholder="Логин" formControlName="email">
                <input class="input" type="password" id="pass" placeholder="Пароль" formControlName="password">
                <button class="button" [ngClass]="{'disabled': formAuth.invalid}" (click)="goToMain()" [disabled]="formAuth.invalid">Войти</button>
                <a (click)="hideAuth()" class="link" href="#">Забыли пароль?</a>
        </form>
        </div>
    </div>
    <div *ngIf="!hidden" id="form-password" class="container__box-pass">
        <h1 class="container__title">Смена пароля</h1>
        <form [formGroup]="formPass" class="container__box-pass__form">
            <input class="input" type="password" id="changePass" placeholder="Введите новый пароль" formControlName="changePass">
            <input class="input" type="password" id="repeatPass" placeholder="Повторите ввод пароля" formControlName="repeatPass">
            <button class="button" [ngClass]="{'disabled': formPass.invalid}" [disabled]="formPass.invalid" type="button" (click)="checkPass()">Сменить пароль</button>
        </form>
    </div>
</div>