@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Sans:ital,wght@0,700;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration:none;
}
