@mixin box-flex($width, $heightm, $justify-content) {
    display: flex;
    width: $width;
    height: $heightm;
    justify-content: $justify-content;
    align-items: center;
}

.navigation {
    height: 50px;
    background-color: #ccd6d8;
}

.navigation__tabs {
    @include box-flex(100%, 100%, space-evenly);
    margin-top: 1px;
}

.navigation__tabs__link {
    @include box-flex(25%, 98%, center);
    border: 2px solid;
    border-color: black;
    font-family: 'Lobster';
    background-color: #85a5ac;
    color: black;
    font-size: 120%;
    border-radius: 45px;
}

.active {
    background-color: #b5b68e;
}
