<div class="navigation">
    <nav class="navigation__tabs">
        <a class="navigation__tabs__link" [routerLink]="['/main/main-info']" routerLinkActive="active">Основное</a>
        <a class="navigation__tabs__link" [routerLink]="['/main/gods']" routerLinkActive="active">Боги</a>
        <a class="navigation__tabs__link" [routerLink]="['/main/sounds']" routerLinkActive="active">Звуки Вальхаллы</a>
        <a class="navigation__tabs__link" [routerLink]="['/main/battles']" routerLinkActive="active">Сражения</a>
    </nav>
</div>
